@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bloc .container {
  padding-left: 0;
  padding-right: 0;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.text-center {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

body,
input,
label,
textarea {
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
}

p {
  font-size: 1.7rem;
}

h1 {
  font-family: "Arapey", serif;
  color: #fff;
  font-weight: 600;
}

h2 {
  color: #333333;
  font-size: 2rem;
  font-weight: bold;
  padding: 25px;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #b9643d;
  font-weight: 600;
  border-bottom: solid #b9643d 3.5px;
  padding: 10px;
}

h4 {
  font-size: 22px;
  line-height: 1.4em;
  text-shadow: 0px 4px 9px #000000;
}

a {
  font-family: helvetica;
  font-weight: 400;
  color: #575757;
}

.buttons {
  background-color: #b9643d;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  margin: 0 5px 5px 0;
  margin-top: 22px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  padding: 12px 28px 12px 28px;
}
.buttons:hover {
  background-color: #313131;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: 0;
}

.contactez-nous {
  margin: 2em;
  box-sizing: border-box;
}

.formulaire {
  max-width: 1000px;
  margin: auto;
  margin-top: 5em;
}
.formulaire label {
  font-weight: bold;
  font-size: 17px;
}
.formulaire input, .formulaire textarea {
  width: 100%;
  font-size: 13px;
}
.formulaire button {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  color: #8d8b8b;
  border: 1px solid #8d8b8b;
  border-radius: 5px;
  box-shadow: 0 0.2em 0.2em rgba(50, 50, 50, 0.3);
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 10px;
  min-height: 40px;
  padding: 6px 12px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  white-space: normal;
}

.form-input:focus {
  border-color: #b9643d;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 131, 61, 0.6);
}

footer {
  background-color: #b9643d;
  color: white;
  padding: 5rem 0 5rem 0;
}

.social {
  color: #313131;
  margin: 2rem;
}
.social:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .site-navigation {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    -webkit-transform: translateY(-50%);
  }
}
.nav-marg {
  margin-top: 2em;
  margin-bottom: 2em;
}

.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-sm,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
  color: #fff;
}

.d-bloc .navbar-toggle .icon-bar {
  background: #fff;
}

.l-bloc button:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}

.l-bloc .navbar-toggle .icon-bar {
  color: rgba(0, 0, 0, 0.6);
}

li {
  float: left;
  margin-top: 4px;
  font-size: 16px;
}

li a:hover {
  background: 0 0;
}

.form-control {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

@media (max-width: 1024px) {
  .bloc {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .navbar .nav {
    max-width: 80%;
  }

  .nav-center.navbar .nav {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .b-parallax {
    background-attachment: scroll;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .b-parallax {
    background-attachment: scroll;
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
  }

  .b-parallax {
    background-attachment: scroll;
  }

  #hero-bloc,
.page-container {
    overflow-x: hidden;
    position: relative;
  }

  .bloc-group,
.bloc-group .bloc {
    display: block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .page-container {
    overflow-x: hidden;
    position: relative;
  }

  h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .b-parallax {
    background-attachment: scroll;
  }

  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    float: none !important;
  }

  .navbar.row {
    margin-left: 0;
    margin-right: 0;
  }

  .site-navigation {
    position: inherit;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
  }

  li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-align: left;
    padding-left: 15px;
    width: 100%;
  }

  li:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  #hero-bloc .navbar .nav {
    background: rgba(0, 0, 0, 0.8);
  }

  #hero-bloc .navbar .nav a {
    color: rgba(255, 255, 255, 0.6);
  }

  .hero {
    padding: 50px 0;
  }

  .hero-nav {
    left: -1px;
    right: -1px;
  }

  .navbar-collapse {
    padding: 0;
    overflow-x: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-brand img {
    max-height: 40px;
    width: auto;
  }

  .bloc-lg {
    padding: 40px 0;
  }

  .a-block {
    padding: 0 10px;
  }

  form {
    padding: 5px;
  }
}
@media (max-width: 400px) {
  .bloc {
    padding-left: 0;
    padding-right: 0;
  }
}
.Bannières {
  background-image: url(../img/la-chouette-agence-banniere.jpg);
  padding: 5em 0 5em 0;
  color: #fff;
  clear: both;
  background-attachment: scroll;
  background-size: auto;
  position: relative;
}
.Bannières h2 {
  color: #fff;
}

.Services h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 2rem 5rem 0 5rem;
}

.Sevices__container {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}
@media (max-width: 950px) {
  .Sevices__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

.Services__card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0.15rem 0.15rem 10px #bebebe;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  line-height: 3em;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 1rem;
}
@media (max-width: 950px) {
  .Services__card {
    margin-top: 2rem;
  }
}
.Services__card:hover {
  background-color: #313131;
  color: white;
  animation: slide;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-fill-mode: both;
  transition: transform 100ms ease-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.Services__citation {
  max-width: 800px;
  font-style: italic;
  border-left: solid #b9643d 3.5px;
  margin-bottom: 10rem;
}

@keyframes slide {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-5%);
  }
}
.Icon {
  text-align: center;
  font-size: 60px;
  color: #313131;
}

.Services__card:hover .Icon {
  color: #fff;
}

.Presentation {
  background-image: url(../img/image-de-presentation.jpg);
  padding: 5em 0 5em 0;
  color: #fff;
  clear: both;
  background-attachment: scroll;
  background-size: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  color: white;
}
.Presentation__container {
  max-width: 800px;
  background: rgba(50, 50, 50, 0.8);
  padding: 5rem 8rem 5rem 8rem;
  margin: auto;
  line-height: 3em;
  letter-spacing: 0.2px;
}
.Presentation h2 {
  color: #fff;
}

.portfolio {
  background-image: url(../img/lines-h2-bg.jpg);
}
.portfolio h2 {
  margin-top: 0px !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 2rem 5rem 0 5rem;
}
.portfolio__container {
  max-width: 1000px;
  padding: 5rem;
  margin: 5rem 50rem 5rem 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.portfolio__card {
  max-width: 300px;
  margin: 5rem;
}
.portfolio__hover {
  max-width: 300px;
  background-color: rgba(226, 173, 153, 0.7);
  display: flex;
  font-size: 5em;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  color: rgba(255, 247, 247, 0.5);
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  z-index: 4;
  width: 300px;
  height: 500px;
}
.portfolio__hover:hover {
  opacity: 1;
}

/*   
    background: rgba(233, 87, 29, 0.5);*/
.Bannière_contact {
  background-color: #b9643d;
  background-image: url(/img/dots-bg.jpg);
  padding: 5em 0 5em 0;
  color: #fff;
  clear: both;
  background-attachment: scroll;
  background-size: auto;
  position: relative;
}
.Bannière_contact h2 {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
