* {
	margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    transition: all .3s ease-in-out;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}
