.Bannières {
    background-image: url(./img/la-chouette-agence-banniere.jpg);
    padding: 5em 0 5em 0;
    @include bannières;
    & h2 {
       color: $color-primary;
    }
 }
 
 .Services {
    & h2 {
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       max-width: 800px;
       padding: 2rem 5rem 0 5rem;
    }
 }
 
 .Sevices__container {
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    @media (max-width: 950px) {
       display: flex;
       flex-direction: column;
       padding: 2rem;
    }
 }
 
 .Services__card {
    @include card;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    line-height: 3em;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 1rem;
    @media (max-width: 950px) {
       margin-top: 2rem;
    }
    &:hover {
       background-color: $color-tertiaire;
       color: white;
       animation: slide;
       animation-duration: 0.80s;
       animation-fill-mode: forwards;
       animation-delay: 0s;
       animation-fill-mode: both;
       transition: transform 100ms ease-out;
       transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    }
 }
 
 .Services__citation {
    max-width: 800px;
    font-style: italic;
    border-left: solid $color-secondary 3.5px;
    margin-bottom: 10rem;
 }
 
 @keyframes slide {
    from {
       transform: translateY(0%);
    }
    to {
       transform: translateY(-5%);
    }
 }
 
 .Icon {
    text-align: center;
    font-size: 60px;
    color: $color-tertiaire;
 }
 
 .Services__card:hover .Icon {
    color: $color-primary;
 }
 
 .Presentation {
    background-image: url(./img/image-de-presentation.jpg);
    padding: 5em 0 5em 0;
    @include bannières;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: white;
    &__container {
       max-width: 800px;
       background: rgba(50, 50, 50, 0.8);
       padding: 5rem 8rem 5rem 8rem;
       margin: auto;
       line-height: 3em;
       letter-spacing: 0.2px;
    }
    & h2 {
       color: $color-secondary;
    }
 }
 
 .portfolio {
    background-image: url(./img/lines-h2-bg.jpg);
    & h2 {
       margin-top: 0px!important;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       max-width: 1000px;
       padding: 2rem 5rem 0 5rem;
    }
    &__container {
       max-width: 1000px;
       padding: 5rem;
       margin: 5rem 50rem 5rem 50rem;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
    }
    &__card {
       max-width: 300px;
       margin: 5rem;
    }
    &__hover {
       max-width: 300px;
       background-color: rgba(226, 173, 153, 0.7);
       display: flex;
       font-size: 5em;
       transition: opacity 0.5s ease-out;
       opacity: 0;
       color: rgba(255, 247, 247, 0.5);
       justify-content: center;
       align-items: center;
       justify-items: center;
       position: absolute;
       z-index: 4;
       width: 300px;
       height: 500px;
       &:hover {
          opacity: 1;
       }
    }
 }
 
 
 /*   
     background: rgba(233, 87, 29, 0.5);*/