@mixin bloc {
    padding-left: 0;
    padding-right: 0;
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}