footer{
    background-color: $color-secondary;
    color: white;
    padding: 5rem 0 5rem 0;
}

.social{
    color:$color-tertiaire;
    margin:2rem;
    &:hover{
        color:$color-primary;
    }

}