
 @media (min-width:768px) {
    .site-navigation {
       position: absolute;
       top: 50%;
       right: 20px;
       transform: translate(0, -50%);
       -webkit-transform: translateY(-50%);
    }
}
.nav-marg{
   margin-top: 2em;
   margin-bottom: 2em;
}
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-sm,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
   color: #fff;
}

.d-bloc .navbar-toggle .icon-bar {
   background: #fff;
}



.l-bloc button:hover {
   color: rgba(0, 0, 0, 0.7);
}


.navbar-toggle .icon-bar {
   background-color: rgba(0, 0, 0, .5);
   width: 26px;
}


.l-bloc .navbar-toggle .icon-bar {
   color: rgba(0, 0, 0, 0.6);
}

li {
   float: left;
   margin-top: 4px;
   font-size: 16px;
}

li a:hover {
   background: 0 0;
}

.form-control {
   border-color: rgba(0, 0, 0, 0.1);
   box-shadow: none;
}


@media (max-width:1024px) {
   .bloc {
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (max-width:992px) and (min-width:768px) {
   .navbar .nav {
      max-width: 80%;
   }
   .nav-center.navbar .nav {
      max-width: 100%;
   }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {
   .b-parallax {
      background-attachment: scroll;
   }
}

@media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (-webkit-min-device-pixel-ratio:1.5) {
   .b-parallax {
      background-attachment: scroll;
   }
}

@media (max-width:991px) {
   .container {
      width: 100%;
   }
   .b-parallax {
      background-attachment: scroll;
   }
   #hero-bloc,
   .page-container {
      overflow-x: hidden;
      position: relative;
   }
   .bloc-group,
   .bloc-group .bloc {
      display: block;
      width: 100%;
   }
}

@media (max-width:767px) {
   .page-container {
      overflow-x: hidden;
      position: relative;
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
      padding-left: 10px!important;
      padding-right: 10px!important;
   }
   .b-parallax {
      background-attachment: scroll;
   }
   .navbar .nav {
      padding-top: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      float: none!important;
   }
   .navbar.row {
      margin-left: 0;
      margin-right: 0;
   }
   .site-navigation {
      position: inherit;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
   }
   li {
      margin-top: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.05);
      text-align: left;
      padding-left: 15px;
      width: 100%;
   }
   li:hover {
      background: rgba(0, 0, 0, 0.08);
   }
   #hero-bloc .navbar .nav {
      background: rgba(0, 0, 0, 0.8);
   }
   #hero-bloc .navbar .nav a {
      color: rgba(255, 255, 255, 0.6);
   }
   .hero {
      padding: 50px 0;
   }
   .hero-nav {
      left: -1px;
      right: -1px;
   }
   .navbar-collapse {
      padding: 0;
      overflow-x: hidden;
      -webkit-box-shadow: none;
      box-shadow: none;
   }
   .navbar-brand img {
      max-height: 40px;
      width: auto;
   }
   .bloc-lg {
      padding: 40px 0;
   } 
   .a-block {
      padding: 0 10px;
   }
  
   form {
      padding: 5px;
   }
}

@media (max-width:400px) {
   .bloc {
      padding-left: 0;
      padding-right: 0;
   }
}
